html {
  font-size: 62.5%;
}

body {
  background-color: #131019;
  background-image: url("obg.jpg");
  background-position: 50% 0;
  background-repeat: repeat-y;
  background-size: 100%;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
}

h1, h2, h4 {
  color: #FA1E4E;
  line-height: 1;
  letter-spacing: .02em;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h4 {
  font-size: 1.9rem;
}

h3 {
  color: #8c7db0;
  font-size: 2rem;
}

p {
  color: #FA1E4E;
  font-size: 1.7rem;
  line-height: 1.3;
}

a {
  color: #8c7db0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#center {
  text-align: center;
}

.features {
  font-size: 1.7rem;
}

.rebuttal {
  text-align: center;
}

.rebuttal h1 {
  font-size: 3rem;
}

.rebuttal h3 {
  font-size: 2rem;
}

.button {
  background-color: #FA1E4E;
  color: #000;
  font-size: 1.7rem;
  padding: 1.5rem 4.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color .25s ease-in-out;
}

.button:hover {
  text-decoration: none;
  background-color: #cc173e;
}

@media screen and (min-width: 800px) {
  .tar {
    text-align: right;
  }

  .box {
    display: flex;
    align-items: center;
    height: 50vh;
  }

  .right {
    justify-content: flex-end;
  }

#fsrn {
  font-size: 13rem;
}

  #boxer,
  #award {
    flex: 1;
    max-width: 50%;
    word-break: keep-all;
  }

  #awardp {
    font-size: 2.2rem;
  }

  #align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  #flex {
    display: flex;
    align-items: center;
    transform: scale(1.1);
    width: 80%;
  }

  #left {
    flex: 1;
    max-width: 50%;
  }

  #right {
    flex: 1;
    word-break: keep-all;
    max-width: 50%;
  }
}

@media screen and (max-width: 799px) {
  body {
    margin: 0 auto;
    padding: 0 2rem;
  }

  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.6rem;
  }
}